.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: center;
  gap: 10rem;
  align-items: center;
  margin-top: 10rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  border-top: 2px solid grey;
}
.item {
  list-style: none;
  margin-bottom: 1.5rem;
  color: grey;
}
.link:visited,
.link:link {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
}
.link:active,
.link:hover {
  text-decoration: underline;
}
.box {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  border: 1px solid grey;
  margin: 1.5rem 0;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icon {
  color: #fff;
  font-size: 2.4rem;
}
@media only screen and (max-width: 44em) {
  .footer {
    gap: 3rem 5rem;
    padding: 5rem 0;
  }
}
