.main {
  height: 5.6rem;
}
.header {
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* margin: 0 auto; */
  padding: 1.6rem 5rem 1.6rem 3rem;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );

  z-index: 3823882338;
}
.button {
  border: none;
  background-color: transparent;
}
.img {
  height: 4.4rem;
  width: 100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.link:link,
.link:visited {
  display: inline-block;

  font-size: 2rem;
  background-color: #e50914;
  padding: 0.6rem 2.4rem;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  color: #eee;
  background-color: #ed535b;
}

.logo {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.links {
  display: flex;
  gap: 1rem;
}
.browse:visited,
.browse:link {
  font-size: 1.6rem;
  display: inline-block;
  transition: color 0.2s;
}
.browse:hover,
.browse:active {
  color: #ccc;
}
.bg {
  position: fixed !important;
  top: 0;
  background-color: rgb(10, 10, 10);
}
.relative {
  position: relative;
}
.icon {
  display: none;
  font-size: 4rem;
}
.highlighted {
  color: #fff;
}
@media only screen and (max-width: 62.5em) {
  .links {
    gap: 0;
  }
  .icon {
    display: inline-block;
  }
  .links {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 5rem;
    width: 30rem;
    height: 100%;
    padding: 3rem 0 3rem 0;

    background-color: rgb(10, 10, 10);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    z-index: 90999999;
    transition: all 0.3s;
  }
  .browse:visited,
  .browse:link {
    font-size: 2rem;
    font-weight: 500;
    color: #808080;
    padding: 0.5rem 0 1rem 2rem;
    margin-top: 0.5rem;
  }
  .translate {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  .highlighted:visited,
  .highlighted:link {
    color: #fff;
    border-left: 3px solid #e50914;
  }
}
@media only screen and (max-width: 62.5em) {
  .header {
    padding: 0.8rem 1.5rem;
  }
  .logo {
    gap: 1rem;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  overflow-y: auto;
}
