.container {
  max-width: 80rem;
  margin: 8rem auto;
  animation: Animation 0.45s forwards;
  padding: 0 3rem;
}
.heading {
  font-size: 4.6rem;
  font-weight: 500;
}
.outline {
  height: 1px;
  background-color: #444;
}
.sides {
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
}

.img {
  border-radius: 4px;

  max-height: 15rem;
  max-width: 15rem;
}
.leftside {
  position: relative;
}
.change {
  position: absolute;
  top: 10.5rem;
  left: 1rem;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000;
  border: none;
  cursor: pointer;
}
.icon {
  background-color: transparent;
  font-size: 2.5rem;
}
.label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.name {
  background: #666;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.6rem;
  height: 5rem;
  margin: 0 0.8em 0 0;
  padding: 0.5rem 1.5rem;
  text-indent: 0.1rem;
  max-width: 50rem;
  width: 50rem;
}
.name:focus {
  outline: none;
}

.buttons {
  display: flex;
  gap: 2rem;
}
.save {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
.save,
.button {
  display: inline-block;
  cursor: pointer;
  display: block;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 2em 0 1em;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
.button {
  border: 1px solid grey;
  background-color: transparent;
  color: grey;
}

@keyframes Animation {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media only screen and (max-width: 37.5em) {
  .name {
    width: 40rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .name {
    width: 30rem;
  }
}
@media only screen and (max-width: 27em) {
  .name {
    width: 25rem;
  }
}
