.item {
  background-color: #2f2f2f;
  border-radius: 5px;
}
.img {
  height: 14rem;
  width: 25rem;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.border {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #888;
  padding: 0 0.6rem;
  margin-right: 1rem;
}
.time {
  font-size: 1.6rem;
  font-weight: 500;
}
.button {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}
.add {
  font-size: 4.5rem;
  color: #888;
}
.about {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem 1rem;
}
.description {
  margin: 2rem 1rem;
  font-size: 1.4rem;
  color: #d2d2d2;
}
