.loader {
  display: flex;
  justify-content: center;
  margin: 25rem 0;
  font-size: 1.4rem;
}
.header {
  margin: 10rem 0 0 5rem;
  font-size: 2rem;
  font-weight: 500;
}
.colored {
  color: #808080;
}
.link {
  color: #e50914;
}
@media only screen and (max-width: 31.25em) {
  .header {
    margin: 10rem 0 0 0;

    font-size: 2.4rem;
    text-align: center;
  }
}
