.loader {
  display: flex;
  justify-content: center;
  margin: 25rem 0;
  font-size: 1.4rem;
}
.header {
  max-width: 180rem;
  margin: 10rem auto 0 auto;
  font-size: 2rem;
  font-weight: 500;
}
.colored {
  color: #808080;
}
.link {
  color: #e50914;
}
