.link:visited,
.link:link {
  position: fixed;
  top: 1.5%;
  left: 1.5%;
  z-index: 2;
  transition: all 0.3s;
  color: #e50914 !important;
}
.link:hover,
.link:active {
  transform: translateX(-10%);
  color: #e50914 !important;
}
.icon {
  font-size: 5rem;
  font-weight: 600;
  color: #e50914 !important;
}
.position {
  position: relative;
  padding-top: 56.25%;
}
.size {
  border: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 62.5em) {
  .position {
    padding: 50vh 0;
  }
  .size {
    border: none;
    position: absolute;

    /* transform: translate(-50%, -50%); */
  }
}
